@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/Franklin Gothic/Franklin Gothic.eot');
    src: local('☺'), url('../fonts/Franklin Gothic/Franklin Gothic.woff') format('woff'), url('../fonts/Franklin Gothic/Franklin Gothic.ttf') format('truetype'), url('../fonts/Franklin Gothic/Franklin Gothic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
