.liquid {
	width:980px;
	background:#313b31;
	height: 153px!important;
	border:2px solid #19301C;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	padding:10px 0;
	
}
.liquid .previous {
	display:block;
	height:126px;
	width:64px;
	float:left;
	margin:0;
	color:white;
	font-size:51px;
	padding:0;
	cursor:pointer;
	padding-top: 40px;
}
.liquid .next {
	display:block;
	height:126px;
	width:64px;
	float:right;
	margin:0;
	color:white;
	font-size:51px;
	padding:0;
	cursor:pointer;
	padding-top: 40px
}
.liquid ul li {
	width:118px;
	padding:0 2px;
	margin:0;
}
.liquid ul li a img {
	-moz-box-shadow: 5px 5px 3px #222;
   	-webkit-box-shadow: 5px 5px 3px #222;
   	box-shadow: 5px 5px 3px #222;
}
