/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

input:focus,
select:focus,
select:active,
button:focus {
    outline: none;
}

.font-franklin-gothic {
    font-family: 'Franklin Gothic', sans-serif;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

[v-cloak] {
    display: none;
}

.font-cuprum {
    font-family: 'Cuprum', 'sans-serif';
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 .styled-select {
     background-image: url(/img/icons/down-arrow.svg);
     background-size: 3rem .812rem;
     @apply bg-right bg-no-repeat appearance-none;
 }

 @-moz-document url-prefix() {
     .styled-select {
         background-size: 1.25rem 1rem;
         background-position-x: 97%;
     }
 }

 .bg-transparent-40 {
    background: rgba(255, 255, 255, 0.4);
 }

 .rotate-x-180 {
    transform: rotateX(-180deg);
 }

 .transition-linear {
    transition-function: linear;
 }

 .transition-fast {
    transition-duration: .3s;
 }

.placeholder-text-grey::placeholder {
    @apply text-grey opacity-100;
}

@responsive {
    .flex-2 { flex: 2; }
    .flex-3 { flex: 3; }

    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }
    .order-4 { order: 4; }
    .order-5 { order: 5; }
}

/*
 * Внешний отступ контейнера для того чтобы кнопка наверх оставалась за контейнером
 */
@media (min-width: 992px) and (max-width: 1400px) {
    .about-lg\:mx-20 {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

.v--modal {
    border-radius: 0 !important;
}

.triangle-top-left {
    width: 0;
    height: 0;
    border-top: 34px solid #428cae;
    border-right: 26px solid transparent;
}

.mini-article-heading {
    font-size: 1.65rem;
}

@responsive {
    .text-4rem {
        font-size: 4rem;
    }
}

@media (min-width: 992px) {
    .main-banner-girl {
        height: 185px
    }
}

.cheerfull-man-and-woman-bg {
    background-image: url('/img/cheerful-man-and-woman-with-diplomas.jpg'), linear-gradient(to right, #ffffff, #fdfdfd, #fafafa, #f8f7f8, #f6f5f5) !important;
}

@media (max-width: 1400px) {
    .cheerfull-man-and-woman-bg {
        background-size: 45% !important;
        background-position: top right !important;
        background-image: url('/img/cheerful-man-and-woman-with-diplomas.jpg') !important;
    }

    .main-page-articles-bg {
        background-image: linear-gradient(to bottom, #f6f6f6, #f4f4f5, #f1f1f4, #efeff2, #edecf1)
    }
}
